$global-input-width: 25rem;
$go-back-btn-color: #2c77da;
$go-back-btn-hover-color: #0c315e;
$add-btn-color: #77d460;
$add-btn-hover-color: #257910;
$edit-btn-color: #ffc83e;
$edit-btn-hover-color: #c79003;
$delete-btn-color: #d32f2f;
$delete-btn-hover-color: #881111;
$disabled-btn-color: #757575;
$disabled-btn-background-color: #bdbdbd;
$mat-menu-icon-size: 18px;
$blue-btn-color: #015cbb;
