.my-container {
  margin-top: 11vh;
  display: flex;
  flex-direction: column;
  gap: 50px;

  .heading {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;

    h1 {
      margin: 0 auto;
      font-size: 60px;

      i {
        font-weight: 100;
        color: transparent;
        background: linear-gradient(#0d4559, #6693f4);
        background-clip: text;
      }
    }

    h3 {
      margin: 0 auto;
      font-size: 20px;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: 25px;

    mat-card {
      width: 400px;
      background: rgba(15, 23, 42, 0.55) !important;
      backdrop-filter: blur(12px);
      -webkit-backdrop-filter: blur(12px);
      border: 0;
      transition: transform 0.5s;

      &:hover {
        transform: translateY(-5px);
      }

      span {
        color: white;
      }

      mat-card-footer {
        padding: 16px;
      }
    }
  }
}

mat-progress-spinner {
  margin: 0 auto;
}
