<div class="comment">
  <div class="comment-header">
    <strong>@{{ comment().userName }}</strong>
  </div>

  <div class="comment-content">
    {{ comment().content }}
  </div>

  <div class="comment-actions">
    <div (click)="likeComment(comment().id)">
      <mat-icon [class.liked]="isLiked()">favorite</mat-icon>
      <span>{{ likes() }}</span>
    </div>

    <div class="reply" (click)="toggleReplyInput()">
      <mat-icon>reply</mat-icon>
      <button type="button"><span>Reply</span></button>
    </div>
  </div>

  <div class="comment-input" *ngIf="activeReplyCommentId() === comment().id">
    <mat-form-field appearance="outline">
      <mat-label>Write a comment...</mat-label>
      <mat-icon matPrefix>chat_bubble_outline</mat-icon>
      <input matInput [(ngModel)]="this.reply" type="text" placeholder="Write a comment..." />
      <button
        mat-icon-button
        matSuffix
        (click)="createReply(comment())"
        type="button"
        aria-label="Post comment"
      >
        <mat-icon>send</mat-icon>
      </button>
    </mat-form-field>
  </div>

  <div class="replies" *ngIf="getReplies().length > 0">
    <app-comment-item
      *ngFor="let reply of getReplies()"
      [comment]="reply"
      [allComments]="allComments()"
      [activeReplyCommentId]="activeReplyCommentId()"
      (replyClicked)="replyClicked.emit($event)"
      (replyCreated)="onReplyCreated($event)"
    >
    </app-comment-item>
  </div>
</div>
