<mat-progress-spinner mode="indeterminate" *ngIf="this.isLoading()"></mat-progress-spinner>

<div class="create-post-button">
  <button matButton *ngIf="!this.isLoading()" [routerLink]="['/create-post']">Create post</button>
</div>

<div class="my-container" *ngIf="!this.isLoading()">
  <div class="feed-card" *ngFor="let post of this.posts()">
    <div class="feed-user-data">
      <img class="avatar" [src]="this.apiUri + '/' + post.creatorAvatarUrl" alt="" />
      <h2>@{{ post.creatorUserName }}</h2>
      <h3 style="font-size: 15px">{{ getDayCount(post) }}</h3>
      <button
        type="button"
        matButton
        *ngIf="post.creatorById === this.currentUserId"
        (click)="deletePost(post)"
      >
        Delete
      </button>
    </div>
    <div class="feed-image">
      <img class="post" [src]="this.apiUri + '/' + post.imageUrl" alt="" />
    </div>
    <div class="feed-content">
      <h1>{{ post.title }}</h1>
      <p>{{ post.description }}</p>
    </div>
    <div class="feed-data">
      <div class="data" (click)="likePost(post.id)">
        <mat-icon [class.liked]="post.isLiked">favorite</mat-icon>
        <p>{{ post.likes }}</p>
      </div>
      <div class="data" (click)="getComments(post.id)">
        <mat-icon>comment</mat-icon>
        <p>{{ post.commentsCount }}</p>
      </div>
    </div>

    <app-comments
      *ngIf="openedComments().has(post.id)"
      [postId]="post.id"
      [comments]="comments().get(post.id) || []"
      (commentCreated)="addComment(post.id, $event)"
      (replyCreated)="onReplyCreated($event)"
      (commentLiked)="onCommentLiked($event)"
    >
    </app-comments>
  </div>
</div>
